/* reset nel framework */
body{
  font-style: sans-serif;
}

/* utility */
.mr_20{
  margin-right: 20px;
}
.mt_100{
  margin-top: 100px;
}
.pt_20{
  padding: 20px;
}
.pr_1{
  padding-right: 1rem;
}
.pl_1{
  padding-left: 1rem;
}
.text_align_center{
  text-align: center;
}
/* utility */

/* header */
header{
  position: relative;
  height: 500px;
  color: white;
  background-image: url(img/heroimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header a{
  color: white;
}
nav{
  height: 80px;
  line-height: 80px;
}
nav a{
  padding: 0 10px;
}
.header_menu{
  text-align: right;
}
.list_inline li{
  list-style: none;
  display: inline-block;
}
a{
  text-decoration: none;
}
.header_menu, .header_langs{
  font-size: 0.55rem;
  font-weight: bold;
  text-transform: uppercase;
}
.header_langs li:not(:last-child) a{
  border-right: 1px solid white;
}
.hero_text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero_text h1{
  font-size: 3rem;
}
.hero_text p{
  font-size: 18px;
  margin: 20px 0 30px 0;
}
.hero_text img{
  height: 50px;
}
/* header */

/* main */
#models{
  padding: 2rem;
}
.card{
  text-align: center;
  background-color: #fafafa;
}
#models .card h2{
  padding-top: 80px;
}
.card img{
  max-width: 100%;
  height: 100%;
}
#signore{
  height: 500px;
  position: relative;
  background-image: url(img/download.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -190px;
}
.position_relative{
  position: relative;
}
#iphone{
  width: 300px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.col-lg-3 h2{
  font-size: 35px;
  font-weight: normal;
  text-align: left;
  padding-right: 50px;
}
.col-offset-lg-5 .col-lg-3{
  text-align: left;
}
/* main */
